@model QxHDashboard.Models.MerchandiseViewModel
@{
    ViewData["Title"] = "Variant Summary";
}

<body class="variant" id="load">
    <div class="pageMain">
        <div class="variant-page">
            <div class="container-variant">
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark ">
                        <div class="container">
                            <h3>
                                <img src="~/images/3bars_menu_header.png" /> Variant Summary
                            </h3>
                            <form asp-action="SelectDDView" method="post" id="formSelect">
                                <asp:UpdatePanel runat="server" id="UpdatePanel" updatemode="Conditional">
                                <select asp-for="SelectedNetworkId" asp-items="Model.networks" id="merchSelect" style="margin-left: 1em;"></select>
                                <select asp-for="SelectedCountryId" asp-items="Model.countries" id="merchSelect" style="margin-left: 1em;"></select>
                                <select asp-for="SelectedCardId" asp-items="Model.cards" id="merchSelect" style="margin-left: 1em;"></select>
                                    <Triggers>
                                <input type="submit" value="Update" id="autoSubmit" class="btn btn-light" style="margin-left: 1em;" />
                                        
                                    </Triggers>
                                </asp:UpdatePanel>
                            </form>
                        </div>
                    </nav>
                </header>
            </div>
            <table class="merchTable" id="block">
                <tr>
                    <th width="75px">SEQ</th>
                    <th width="125px">Item ID</th>
                    <th width="700px">Description</th>
                    <th width="90px">Sold</th>
                    <th width="90px">Sold Today</th>
                    <th width="90px">AFS</th>
                    <th width="65px">P Mins</th>
                    <th width="65px">A Mins</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                @foreach (var item in Model.merchandise)
                {
                    <tr id="merchRow" data-item-type="@item.Id">
                        <td class="1" width="75px">@item.PlanSeqId</td>
                        <td class="2"  width="125px">@item.ItemId</td>
                        <td class="3" width="700px">@item.ItemDescription</td>
                        <td class="4" width=90px align="right">@item.OrderQuantity</td>
                        <td class="5" width=90px align="right">@item.OrderSldTdy</td>
                        <td class="6" width=90px align="right">@item.AvaiForSaleQty</td>
                        <td class="7" width=65px align="right">@item.PlannedMinutesQty</td>
                        <td class="8" width=65px align="right">@item.ActualMinutesQty</td>
                    </tr>
                }
            </table>            
        </div>        
    </div>
    <div class="pageSide" style="height:810px; overflow-y: auto; display:block;">
        <div id="rightPanel" style="height:100%; overflow:hidden; background-color:white;">
            <iframe id="hsnComFrame" src="https://www.hsn.com/product-by-style/083408?Device=mobile" style="width: 98%; height:100%;"></iframe>
        </div>
    </div>
</body>

@section Scripts
    {
    
    <script src="~/js/merchandise.js"></script>
}
